@import 'preflight.scss';
@import 'variables.scss';

html {
    font-size: 24px;
}

body {
    background-color: #64748b;
    color: $slate-700;
    font-family: $font-sans;
    font-size: 1.5rem;
    line-height: 2rem;
}

h1 {
    font-family: $font-sans-alt;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;

    @media ($at-md) {
        font-size: 3.75rem;
        line-height: 1;
    }

    @media ($at-xl) {
        font-size: 6rem;
        line-height: 1;
    }
}